<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="app" >
        <h3 v-for="(item , id) in user">{{id}} {{item.id}}</h3>
        <p v-for="item in user">{{item.name}}</p>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.16/dist/vue.js"></script>
    <script>
      const vm = new Vue({
        el: "#app",
        data: {
          user: [
            {
              name: "mahdi",
              id: "1",
            },
            {
              name: "sara",
              id: "2",
            },
            {
              name: "ali",
              id: "3",
            },
          ],
        },
      });
    </script>
  </body>
</html>
